body {
  overflow: hidden;
  -webkit-text-stroke: thin #fff;
  font-weight: bold;
  letter-spacing: 1px;
  user-select: none;
}

header {
  height: 75px;
  overflow: hidden;
  display: grid;
  place-content: center;
}

main .screen {
  background-size: cover;
  height: calc(100vh - 75px);
  transition: all .15s linear;
  opacity: 1;
  position: relative;
  left: 0;
}

main .screen:not(.show) {
  height: 0;
  left: -100vw;
  opacity: 0;
  transition-delay: .15s;
}

#start-screen {
  background-image: url(start-screen.gif);
  display: grid;
  place-content: center;
  z-index: 4;
}

#map-screen {
  background-color: burlywood;
  z-index: 2;
}

#stages {
  position: relative;
}



.hero-container {
  position: absolute;
  bottom: 20vh;
  left: 10vw;
  z-index: 2;
  filter: drop-shadow(2px 4px 6px black);
}

.hero-container::after {
  height: 320px;
  content: '';
  background-image: url(hero.gif);
  transform: scaleX(-1);
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: -228px;
  left: 128px;
  pointer-events: none;
}


.enemy-container {
  position: absolute;
  bottom: 20vh;
  right: 20vw;
  z-index: 1;
  filter: drop-shadow(2px 4px 6px black);
}

.enemy-container::after {
  max-height: 520px;
  min-height: 220px;
  content: '';
  background-image: attr(data-enemy-url);
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 30px;
}


#stage-1-screen {
  background-image: url(stage-1.gif);
}

#stage-2-screen {
  background-image: url(stage-2.gif);
}

#stage-3-screen {
  background-image: url(stage-3.gif);
}

#victory-screen {
  background-image: url(victory-screen.gif);
  z-index: 2;
}

#game-over-screen {
  background-image: url(game-over.gif);
  z-index: 2;
}

.action-box {
  background: #030211f0;
  padding: 0.35rem;
  border: 4px double #dbd3c5ad;
  border-radius: 10px;
  color: whitesmoke;
  filter: drop-shadow(2px 4px 6px black);
  transition: all .3s ease-in-out;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition-delay: 0;
}

.action-box.show {
  transition-delay: 1.5s;
  max-height: 800px;
  opacity: 1;
  min-width: 300px;
  pointer-events: all;
}

.action-box .btn {
  color: aliceblue;
}


.locations .action-box {
  background-position: center;
  background-blend-mode: difference;
}

.locations .action-box:first-child {
  background-image: url(stage-1.gif);
}

.locations .action-box:nth-child(2) {
  background-image: url(stage-2.gif);
  background-position: 100px;
}

.locations .action-box:last-child {
  background-image: url(stage-3.gif);
}

.start-stage {
  display: grid;
  place-content: center;
  height: 100%;
  text-align: center;
}

#player-actions {
  position: fixed;
  text-align: center;
  left: 15vw;
  bottom: 100px;
  z-index: 1;
}

.store-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 400px;
}

.store-items img {
  height: 175px;
  aspect-ratio: 1/1;
}


#messagebar {
  opacity: 0;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: -30px;
  transition: all .3s linear;
}


#messagebar.show {
  opacity: 1;
  pointer-events: all;
  bottom: 30px;
}